$title-color: rgb(213, 213, 213);
$title-lines-color: rgb(164, 164, 164);
$punchline-color: #d4d4d4e4;
$initial-overlay-color: rgba(255, 255, 255, 0.8);



$lines-color: #fb4b4b8c;
$body-background: #101010;


$project-card-bg: #2a2a2a;