@import '../../../../sass-vars.scss';

.wrap {
    width: 300px;
    position: relative;

    

    .cardContent {
        background: $project-card-bg;
    }

    .topCardWrap {

        position: relative;
        

        img {
            width: 100%;
        }

        .svgWrap {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            cursor: pointer;

            &:hover {

                .codeIcon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -70%);
                    font-size: 100px;
                    font-weight: bold;
                    color: white;
                }

                .msg {
                    opacity: 1;
                    transform: translate(-50%, 70%);
                }
            }

            .msg {
                opacity: 0;
                transition: all 0.3s;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 95%);
            }


            .codeIcon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 100px;
                font-weight: bold;
                color: white;
                transition: all 0.2s;
            }
        }

        
    }
}